body {
    background-color: #e6ccb2;
    height: 3000px;       
}

*, 
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

/* LIENS */

.left {

    width: 2%;
    position: fixed;
    bottom: 70px;
    left: -50px;
    margin-bottom: 30px;
    z-index: 99;
}


.left .reseaux {
    display: flex;
    flex-direction: column;
    height: 130px;
    justify-content: space-between;
    font-size: 20px;

}

.left i {
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)0s;
}


.left i:hover {
    color: #3c6e71;
    transform: matrix(1,0,0,1,0,-3);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)0s;
}


.bottom-left {

    background-color: black;
    position: fixed;
    bottom: -80px;
    left: 60px;
    width: 1px;
    height: 80px;
    z-index: 999;
    
}

.arrow i  {
  transform: translateY(0);
  font-size: 50px;
  
}

.arrow i:hover {
  animation-name: bounce;
  animation-duration: 1s;
  
}

.arrow {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  margin-bottom: 10vh;
  margin-top: 10vh;
}

.arrow i {
  z-index: 1;
}

.animate-left {
  animation: slide-from-left 1s ease-out forwards;
}

.animate-bottom-left {
  animation: slide-from-bottom 1s ease-out forwards;
}

@keyframes slide-from-left {
  from {
    left: -50px;
  }
  to {
    left: 50px;
  }
}

@keyframes slide-from-bottom {
  from {
    bottom: -80px;
  }
  to {
    bottom: 0;
  }
}


/*HEADER */


nav .logo i {
    font-size: 60px;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)0s;
}

nav a {
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)0s;
}

nav .logo i:hover, nav a:hover {
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)0s;
    transform: matrix(1,0,0,1,10,0);
    color: #3c6e71;
}


nav {
    
    font-family: 'Space Mono', monospace;
    position: fixed; 
    padding: 20px 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slideDown 1s forwards; 
    background-color: #e6ccb2;
    transition: top 0.3s; 
    z-index: 50;
    
}

nav #nav-liens ul {
    display: flex;
}

nav #nav-liens ul li {
    display: flex;
    margin: 0 25px;
}

nav .menu {
    display: none;
    font-size: 35px;
    cursor: pointer;
}


/**/

@media screen and (max-width: 800px) {

   nav #nav-liens {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease; 
        transform: translateX(-100%); /*le menu est retracté sur la gauche */  
    }

    nav #nav-liens.menu-mobile {
        transform: translateX(0%); /* lorsque l'on clique sur le hamburger, le menu se deploie sur la page */
        background-color: #e6ccb2;
        z-index: 2;
    } 

    nav { 
      padding: 0;
      height: 80px;
      background-color: #e6ccb2; 
    }

    nav #nav-liens ul {
        flex-direction: column;
        align-items: center;
    }

    nav .menu {
        display: block;
        position: absolute;
        right: 35px;
        top: 20px;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)0s;
        z-index: 2;
    }

    nav .menu:hover {
        color: #3c6e71;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)0s;
       
    }

    nav #nav-liens ul li {
        margin: 25px 0;
        font-size: 25px;
        z-index: 998;
    }

    nav .logo {
        position: absolute;
        top: 20px;
        left: 35px;
        z-index: 999;
    } 

    .arrow {
      z-index: -2; 
      margin-top: 10vh; 
  }

  .arrow i {
    z-index: -2;
    font-size: 30px;
    
  }
    nav #nav-liens a {
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)0s;
    }

    nav #nav-liens a:hover {
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)0s;
        transform: matrix(1,0,0,1,0,-10);
        color: #3c6e71;
    }

    .homepage {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 60vh; 
        
        
    }

    .homepage .moi {
        font-size: 50px;  
         
                    
    }
    
    .homepage .presentation, .homepage .etudes {
    
        font-size: 30px;
        
        
    }

    .homepage .pdp img {

        transform: scale(80%);
        
    }

    .homepage {
      margin-top: 25% !important;
    }

    
}

main {
    width: 80%;
    height: 80vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;   
}

main .moi {
    font-size: 100px;
    font-family: 'Inter', sans-serif;
    
}

main .presentation, .etudes {

    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
}


.homepage {

    display: flex;
    justify-content: space-around;
    width: 80%; 
    margin-top: 10vh; 
}

.homepage img {

    transform: scale(115%);
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
}

.homepage img:hover {

    box-shadow: 10px 10px rgba(0,0,0,.15);
    transition: all .4s ease;

}

section {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1575px) {

    main .moi {
        font-size: 80px;
        
        
    }
    
    main .presentation, .etudes {
    
        font-size: 40px;
        
    }

}

@media screen and (max-width: 1350px) {

    main .moi {
        font-size: 60px;
        
        
    }
    
    main .presentation, .etudes {
    
        font-size: 30px;
        
    }

    .homepage img {

        transform: scale(100%);
    }

}

@media screen and (max-width: 1110px) {

    main .moi {
        font-size: 50px;
        
        
    }
    
    main .presentation, .etudes {
    
        font-size: 25px;
        
    }

    .homepage img {

        transform: scale(80%);
    }

}


@media screen and (max-width: 950px) {

    main .moi {
        font-size: 35px;
        
        
    }
    
    main .presentation, .etudes {
    
        font-size: 20px;
        
    }

    .homepage img {

        transform: scale(70%);
    }

    .homepage {

        margin-left: 2%;   
    }
}

/* about */


.about h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 40px;
    color: #000;
    font-family: 'Space Mono';
}

.about h3 {
  text-align:left;
  font-size: 2rem;
  font-weight: 400;
  color: #000;
  font-family: 'Itim';
  margin-top: 4%;
  margin-bottom: 2%;
}

.about {
  display: flex;
  margin-bottom: 2%;
 
  width: 50%;
  margin: 0 auto;
}

.attract {
  color: #215b5f;
  font-style: italic;
  font-weight: 500;
  
}
.about p {
  font-family: 'Inter' ;
  width: 100%;
  margin: 0 auto;
  text-align: justify;
  font-size: 18px;
}
/* about */

/* projets */

section #project {
    font-size: 62.5%;
    
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
    
  }
  
  .btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: small;
    font-family: 'Source Sans Pro';
  }
  
  .btn-primary {
    color: #fff;
    background: #3c6e71;
  }
  
  .btn-primary:hover {
    background: #117964;
    transition:  0.3s ease-in-out;
  }
   
  #project {
    padding: 5rem 0 4% 0;
    
  }
  
  #project h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 40px;
    color: #000;
    font-family: 'Space Mono';
  }
  
  .project-container {
    display: flex;
    justify-content: space-between;
    
  }
  
  .project-container img {
    display: block;
    width: 100%;
    margin: auto;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    
  }
  
  .img-container {
    margin: 0 1rem;
    position: relative;

  }
  
  .img-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all 0.3s ease-in-out 0.1s;
  }
  
  .img-content h3 {
    color: #fff;
    font-size: 20px;
    font-family:'Inter';
  }
  
  .img-content a {
    font-size: 1.2rem;
  }
  
  .img-container::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    opacity: 0;
    z-index: 1;
  
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
  }
  
  .img-container:hover::after {
    opacity: 1;
    transform: scaleY(1);
  }
  
  .img-container:hover .img-content {
    opacity: 1;
    top: 40%;
  }
  
  #comingsoon {
    display: none;
  }
  
  /* ......../ media query /.......... */

  @media screen and (max-width: 1350px) {

    #project {
      width: 90%;
      margin: 0 auto;
    }
  
  }
  
  @media (min-width: 800px) and (max-width: 1200px) {
    .img-container h3 {
      font-size: 1rem;
    }
  
    .img-container .btn {
      font-size: 0.7rem;
    }
  }

  @media (max-width: 800px) {
    
    /* ......./ project /......... */
  
    .project-container {
      flex-direction: column;
      align-items: stretch;
    }
  
    .project-type {
      margin-bottom: 3rem;
    }
  
    .project-type {
      box-shadow: 5px 5px 10px 0 #aaa;
    }
  
    .img-container {
      margin: 0;
    }

    #project {
      width: 70%;
      margin: 0 auto;
    }

    .btn {
      padding: 1em 1.5em;  
    }

    .img-container h3 {
      font-size: 2rem;
    }

    .about h3 {
      font-size: 1.8rem;
    }
  }
  
  @media screen and (max-width: 550px) {

    .homepage {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      width: 100%;
      height: 60vh; 
  }

  .homepage .moi {
      font-size: 40px;                  
  }
  
  .homepage .presentation, .homepage .etudes {
  
      font-size: 20px;    
  }

  .homepage .pdp img {

      transform: scale(70%);   
      
  }


  .arrow {
    z-index: -2; 
    margin-top: 0vh; 
}

.arrow i {
  z-index: -2;
  font-size: 30px;
}

.img-container h3 {
  font-size: 1.2rem;
}

.img-container .btn {
  font-size: 0.8rem;
}

.btn {
  padding: 1em 1.5em;  
}

form {
  width: 60%;
}

.contact h2 {
  font-size: 26px !important;
}

.left {

  bottom: 70px;
  left: 20px !important;
  
}


.left .reseaux {
  display: flex;
  flex-direction: column;
  height: 130px;
  justify-content: space-between;
  font-size: 20px;

}

.bottom-left {

 
  left: 30px;
  

  
}

nav .logo {
  
  left: 15px;
  
} 

nav .menu {
 
  right: 20px;
  
}

.about h2 {
  
  font-size: 30px;
  
}

.about p {

  font-size: 16px ;
}

#project h2 {
  
  font-size: 30px;

}
  
  }

  

/* projets */

/* contact */

form { max-width:420px; margin:0 auto 60px auto; }

.feedback-input {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #3c6e71;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #117964; }

textarea {
  height: 200px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Inter', 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#3c6e71;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#117964; }

 .contact h2 {
  text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 40px;
    color: #000;
    font-family: 'Space Mono';
    margin-top: 1%;
}

/* contact */

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
    color: #3c6e71;
  }
  40% {
    transform: translateY(-0px);
    color: #026d57;
  }
  60% {
    transform: translateY(-10px);
    color: #0f5d61;
  }
}


/* TODO 
   ==> changer valeur en px par rem et appliquer la technique du 62.5%
*/

/* animations de chargement */

.fade-in-img {
  opacity: 0;
  transition: opacity 1s;
}


.fade-in-img.show {
  opacity: 1;
  z-index: 1;
}



/**/

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* ______________________________________________________________________________________*/
/* FENETRES MODALES */

/*Actuellement en première année d'informatique, je manque de connaissances et je n'ai pas vu d'autres alternatives que de dupliquer chaque fenêtre modale, 
      je me doute qu'il existe sûrement un moyen plus optimisé pour le faire*/

.projectTitle {
  font-family: 'Space Mono';
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

.projectDesc {
  margin: 3% auto;
  font-family: 'Inter' ;
  text-align: center;
  max-width: 90%;
  line-height: 1.4;
  
}

.projectDesc2 {
  margin: 3% auto;
  font-family: 'Inter' ;
  text-align: justify;
  max-width: 90%;
  line-height: 1.4;
  
}

.projectDesc3 {
  margin: 3% auto;
  font-family: 'Inter' ;
  text-align: justify;
  max-width: 90%;
  line-height: 1.4;
  font-size: 15px;
  
}

.projectComp {
  font-family: 'Space Mono';
  text-align: center;
  font-size: 22px;
}

/* FENETRE MODALE STI2D */

.modal-container {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
  z-index: 99;
  /*overflow-y: scroll;*/
}
.modal-container.active {
  /* display: block; */
  visibility: visible;
}

.overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333d3;
  transition: opacity 0.4s 0.2s ease-out;
}
.modal-container.active .overlay {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.modal {
  opacity: 0;
  width: 95%;
  max-width: 40%;
  min-width: 300px;
  height: 95vh;
  padding: 30px;
  background-color: #e6ccb2;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));
  transition: opacity 0.4s ease-out,
  transform 0.4s ease-out;
}

.modal-container.active .modal {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out,
  transform 0.4s 0.2s ease-out;
}

.close-modal {
  
  border: none;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #3c6e71;
  
}

/* */

.containerSlider {
  width: 70%;
  margin: 0 auto;
  margin-top: 2%;
  height: 315px;
  background-color: #000;
  
}

.slider img {
  max-width: 100%;
  display: none; 
  height: 270px;
}

img.active {
  display: block;
  animation: fadeZ 0.8s;
}
@keyframes fadeZ {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cont-btn {
  width: 100%;
  border: 1px solid #000;
  box-shadow: 0 10px 10px rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  background-color: #3c6e71;
}

.btn-nav {
  font-size: 30px;
  margin: 0 15px;
  cursor: pointer;
  padding: 5px 0;
}

/* */
.competences {
  margin-top: 7%;
  display: flex;
  justify-content: center;
}

.competences i {
  margin: 0 3%;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)0s;
  font-size: 22px;
}

.competences i:hover {
  color: #3c6e71;
    transform: matrix(1,0,0,1,0,-3);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)0s;
}

/* ---------_____------ */

.tooltip1 {
  position: relative;
  opacity: 1;
}
.competences .tooltip1 .tooltiptext1 {
 
  width: 200px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: -90%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 15px;
}

.tooltip1 .tooltiptext1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext1 {
 
  opacity: 1;
 
  
}

.tooltip1 .tooltiptext1:hover {
  opacity: 0;
}


/* --------------------------- */


.competences .tooltip1 .tooltiptext2 {
 
  width: 200px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: -90%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 15px;
}

.tooltip1 .tooltiptext2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext2 {
  opacity: 1;
}

.tooltip .tooltiptext2:hover {
  opacity: 0;
}

/*   ------------------   */

.competences .tooltip1 .tooltiptext3 {
 
  width: 150px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 15px;
}

.tooltip1 .tooltiptext3::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext3 {
  opacity: 1;
}

.tooltip .tooltiptext3:hover {
  opacity: 0;
}

/* ------------ */


.competences .tooltip1 .tooltiptext4 {
 
  width: 250px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: -270%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 15px;
}

.tooltip1 .tooltiptext4::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext4 {
  opacity: 1;
}

.tooltip .tooltiptext4:hover {
  opacity: 0;
}

/* ------------------------ */

.competences .tooltip1 .tooltiptext5 {
 
  width: 120px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 15px;
}

.tooltip1 .tooltiptext5::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext5 {
  opacity: 1;
}

.tooltip .tooltiptext5:hover {
  opacity: 0;
}

/* ------------------------ */

.competences .tooltip1 .tooltiptext6 {
 
  width: 120px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 15px;
}

.tooltip1 .tooltiptext6::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext6 {
  opacity: 1;
}

.tooltip .tooltiptext6:hover {
  opacity: 0;
}

/* ------------------------ */

.competences .tooltip1 .tooltiptext7 {
 
  width: 120px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 15px;
}

.tooltip1 .tooltiptext7::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext7 {
  opacity: 1;
}

.tooltip .tooltiptext7:hover {
  opacity: 0;
}

/*  */

.competences .tooltip1 .tooltiptext8 {
 
  width: 130px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 15px;
}

.tooltip1 .tooltiptext8::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext8 {
  opacity: 1;
}

.tooltip .tooltiptext8:hover {
  opacity: 0;
}

/*   */

.competences .tooltip1 .tooltiptext9 {
 
  width: 130px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 15px;
}

.tooltip1 .tooltiptext9::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext9 {
  opacity: 1;
}

.tooltip .tooltiptext9:hover {
  opacity: 0;
}

/*  */

.competences .tooltip1 .tooltiptext10 {
 
  width: 130px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 15px;
}

.tooltip1 .tooltiptext10::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext10 {
  opacity: 1;
}

.tooltip .tooltiptext10:hover {
  opacity: 0;
}

/*   */

.competences .tooltip1 .tooltiptext11 {
 
  width: 130px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 15px;
}

.tooltip1 .tooltiptext11::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext11 {
  opacity: 1;
}

.tooltip .tooltiptext11:hover {
  opacity: 0;
}

/*  */

.competences .tooltip1 .tooltiptext12 {
 
  width: 130px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 15px;
}

.tooltip1 .tooltiptext12::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext12 {
  opacity: 1;
}

.tooltip .tooltiptext12:hover {
  opacity: 0;
}

/*   */

.competences .tooltip1 .tooltiptext13 {
 
  width: 130px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 15px;
}

.tooltip1 .tooltiptext13::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext13 {
  opacity: 1;
}

.tooltip .tooltiptext13:hover {
  opacity: 0;
}


/*  */

.competences .tooltip1 .tooltiptext14 {
 
  width: 130px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 15px;
}

.tooltip1 .tooltiptext14::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext14 {
  opacity: 1;
}

.tooltip .tooltiptext14:hover {
  opacity: 0;
}

/*  */


.competences .tooltip1 .tooltiptext15 {
 
  width: 140px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 15px;
}

.tooltip1 .tooltiptext15::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext15 {
  opacity: 1;
}

.tooltip .tooltiptext15:hover {
  opacity: 0;
}


/*  */

.competences .tooltip1 .tooltiptext16 {
 
  width: 130px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 15px;
}

.tooltip1 .tooltiptext16::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext16 {
  opacity: 1;
}

.tooltip .tooltiptext16:hover {
  opacity: 0;
}

/*   */

.competences .tooltip1 .tooltiptext17 {
 
  width: 130px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 15px;
}

.tooltip1 .tooltiptext17::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext17 {
  opacity: 1;
}

.tooltip .tooltiptext17:hover {
  opacity: 0;
}

/*   */

.competences .tooltip1 .tooltiptext18 {
 
  width: 130px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 15px;
}

.tooltip1 .tooltiptext18::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext18 {
  opacity: 1;
}

.tooltip .tooltiptext18:hover {
  opacity: 0;
}


/*  */

.competences .tooltip1 .tooltiptext19 {
 
  width: 130px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 15px;
}

.tooltip1 .tooltiptext19::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext19 {
  opacity: 1;
}

.tooltip .tooltiptext19:hover {
  opacity: 0;
}


/*   */

.competences .tooltip1 .tooltiptext20 {
 
  width: 130px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 15px;
}

.tooltip1 .tooltiptext20::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext20 {
  opacity: 1;
}

.tooltip .tooltiptext20:hover {
  opacity: 0;
}



/*   */

.competences .tooltip1 .tooltiptext21 {
 
  width: 140px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 15px;
}

.tooltip1 .tooltiptext21::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext21 {
  opacity: 1;
}

.tooltip .tooltiptext21:hover {
  opacity: 0;
}


/*  */

.competences .tooltip1 .tooltiptext22 {
 
  width: 130px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 15px;
}

.tooltip1 .tooltiptext22::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext22 {
  opacity: 1;
}

.tooltip .tooltiptext22:hover {
  opacity: 0;
}


/*  */

.competences .tooltip1 .tooltiptext23 {
 
  width: 130px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 15px;
}

.tooltip1 .tooltiptext23::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext23 {
  opacity: 1;
}

.tooltip .tooltiptext23:hover {
  opacity: 0;
}


/*  */

.competences .tooltip1 .tooltiptext24 {
 
  width: 130px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 15px;
}

.tooltip1 .tooltiptext24::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext24 {
  opacity: 1;
}

.tooltip .tooltiptext24:hover {
  opacity: 0;
}



/*  */


.competences .tooltip1 .tooltiptext25 {
 
  width: 140px;
  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 15px;
}

.tooltip1 .tooltiptext25::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext25 {
  opacity: 1;
}

.tooltip .tooltiptext25:hover {
  opacity: 0;
}

/* FENETRE MODALE STI2D */

/* FENETRE MODALE ECONOCOM */


.modal2-container2 {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
  z-index: 99;
}
.modal2-container2.active2 {
  /* display: block; */
  visibility: visible;
}

.overlay2 {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333d3;
  transition: opacity 0.4s 0.2s ease-out;
}
.modal2-container2.active2 .overlay2 {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.modal2 {
  opacity: 0;
  width: 95%;
  max-width: 40%;
  min-width: 300px;
  height: 90vh;
  padding: 30px;
  background-color: #e6ccb2;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));
  transition: opacity 0.4s ease-out,
  transform 0.4s ease-out;

}

.modal2-container2.active2 .modal2 {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out,
  transform 0.4s 0.2s ease-out;
}

.close2-modal2 {
  
  border: none;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #3c6e71;
 
}

/* */

.containerSlider7 {
  width: 70%;
  margin: 0 auto;
  margin-top: 2%;
  height: 315px;
  background-color: #000;
  
}

.slider7 img {
  max-width: 100%;
  display: none; 
  height: 270px;
}

img.active7 {
  display: block;
  animation: fadeZ 0.8s;
}
@keyframes fadeZ {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cont-btn7 {
  width: 100%;
  border: 1px solid #000;
  box-shadow: 0 10px 10px rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  background-color: #3c6e71;
}

.btn-nav7 {
  font-size: 30px;
  margin: 0 15px;
  cursor: pointer;
  padding: 5px 0;
}

/* FENETRE MODALE ECONOCOM */


/* FENETRE MODALE PENTREE */

.modal3-container3 {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
  z-index: 99;
}
.modal3-container3.active3 {
  /* display: block; */
  visibility: visible;
}

.overlay3 {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333d3;
  transition: opacity 0.4s 0.2s ease-out;
}
.modal3-container3.active3 .overlay3 {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.modal3 {
  opacity: 0;
  width: 95%;
  max-width: 40%;
  min-width: 300px;
  height: 90vh;
  padding: 30px;
  background-color: #e6ccb2;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));
  transition: opacity 0.4s ease-out,
  transform 0.4s ease-out;

}

.modal3-container3.active3 .modal3 {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out,
  transform 0.4s 0.2s ease-out;
}

.close3-modal3 {
  
  border: none;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #3c6e71;
 
}

/*   */

.containerSlider6 {
  width: 70%;
  margin: 0 auto;
  margin-top: 2%;
  height: 315px;
  background-color: #000;
  
}

.slider6 img {
  max-width: 100%;
  display: none; 
  height: 270px;
}

img.active6 {
  display: block;
  animation: fadeZ 0.8s;
}
@keyframes fadeZ {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cont-btn6 {
  width: 100%;
  border: 1px solid #000;
  box-shadow: 0 10px 10px rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  background-color: #3c6e71;
}

.btn-nav6 {
  font-size: 30px;
  margin: 0 15px;
  cursor: pointer;
  padding: 5px 0;
}




/* FENETRE MODALE PENTREE */


/* FENETRE MODALE DEBIAN */

.modal4-container4 {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
  z-index: 99;
}
.modal4-container4.active4 {
  /* display: block; */
  visibility: visible;
}

.overlay4 {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333d3;
  transition: opacity 0.4s 0.2s ease-out;
}
.modal4-container4.active4 .overlay4 {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.modal4 {
  opacity: 0;
  width: 95%;
  max-width: 40%;
  min-width: 300px;
  height: 90vh;
  padding: 30px;
  background-color: #e6ccb2;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));
  transition: opacity 0.4s ease-out,
  transform 0.4s ease-out;

}

.modal4-container4.active4 .modal4 {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out,
  transform 0.4s 0.2s ease-out;
}

.close4-modal4 {
  
  border: none;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #3c6e71;
 
}
/*   */
.containerSlider5 {
  width: 70%;
  margin: 0 auto;
  margin-top: 2%;
  height: 315px;
  background-color: #000;
  
}

.slider5 img {
  max-width: 100%;
  display: none; 
  height: 270px;
}

img.active5 {
  display: block;
  animation: fadeZ 0.8s;
}
@keyframes fadeZ {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cont-btn5 {
  width: 100%;
  border: 1px solid #000;
  box-shadow: 0 10px 10px rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  background-color: #3c6e71;
}

.btn-nav5 {
  font-size: 30px;
  margin: 0 15px;
  cursor: pointer;
  padding: 5px 0;
}


/* FENETRE MODALE DEBIAN */




/* FENETRE MODALE DEPECHES */

.modal5-container5 {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
  z-index: 99;
}
.modal5-container5.active5 {
  /* display: block; */
  visibility: visible;
}

.overlay5 {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333d3;
  transition: opacity 0.4s 0.2s ease-out;
}
.modal5-container5.active5 .overlay5 {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.modal5 {
  opacity: 0;
  width: 95%;
  max-width: 40%;
  min-width: 300px;
  height: 90vh;
  padding: 30px;
  background-color: #e6ccb2;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));
  transition: opacity 0.4s ease-out,
  transform 0.4s ease-out;

}

.modal5-container5.active5 .modal5 {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out,
  transform 0.4s 0.2s ease-out;
}

.close5-modal5 {
  
  border: none;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #3c6e71;
 
}

/*  */

.containerSlider2 {
  width: 70%;
  margin: 0 auto;
  margin-top: 2%;
  height: 315px;
  background-color: #000;
  
}

.slider2 img {
  max-width: 100%;
  display: none; 
  height: 270px;
}

img.active2 {
  display: block;
  animation: fadeZ 0.8s;
}
@keyframes fadeZ {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cont-btn2 {
  width: 100%;
  border: 1px solid #000;
  box-shadow: 0 10px 10px rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  background-color: #3c6e71;
}

.btn-nav2 {
  font-size: 30px;
  margin: 0 15px;
  cursor: pointer;
  padding: 5px 0;
}


/* FENETRE MODALE DEPECHES */



/* FENETRE MODALE TITANIC */


.modal6-container6 {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
  z-index: 99;
}
.modal6-container6.active6 {
  /* display: block; */
  visibility: visible;
}

.overlay6 {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333d3;
  transition: opacity 0.4s 0.2s ease-out;
}
.modal6-container6.active6 .overlay6 {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.modal6 {
  opacity: 0;
  width: 95%;
  max-width: 40%;
  min-width: 300px;
  height: 90vh;
  padding: 30px;
  background-color: #e6ccb2;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));
  transition: opacity 0.4s ease-out,
  transform 0.4s ease-out;

}

.modal6-container6.active6 .modal6 {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out,
  transform 0.4s 0.2s ease-out;
}

.close6-modal6 {
  
  border: none;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #3c6e71;
 
}

/*    */

.containerSlider3 {
  width: 70%;
  margin: 0 auto;
  margin-top: 2%;
  height: 315px;
  background-color: #000;
  
}

.slider3 img {
  max-width: 100%;
  display: none; 
  height: 270px;
}

img.active3 {
  display: block;
  animation: fadeZ 0.8s;
}
@keyframes fadeZ {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cont-btn3 {
  width: 100%;
  border: 1px solid #000;
  box-shadow: 0 10px 10px rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  background-color: #3c6e71;
}

.btn-nav3 {
  font-size: 30px;
  margin: 0 15px;
  cursor: pointer;
  padding: 5px 0;
}

/* FENETRE MODALE TITANIC */


/* FENETRE MODALE ACCIDENTS */


.modal7-container7 {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
  z-index: 99;
}
.modal7-container7.active7 {
  /* display: block; */
  visibility: visible;
}

.overlay7 {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333d3;
  transition: opacity 0.4s 0.2s ease-out;
}
.modal7-container7.active7 .overlay7 {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.modal7 {
  opacity: 0;
  width: 95%;
  max-width: 40%;
  min-width: 300px;
  height: 90vh;
  padding: 30px;
  background-color: #e6ccb2;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));
  transition: opacity 0.4s ease-out,
  transform 0.4s ease-out;

}

.modal7-container7.active7 .modal7 {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out,
  transform 0.4s 0.2s ease-out;
}

.close7-modal7 {
  
  border: none;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #3c6e71;
 
}


/*     */

.containerSlider4 {
  width: 70%;
  margin: 0 auto;
  margin-top: 2%;
  height: 315px;
  background-color: #000;
  
}

.slider4 img {
  max-width: 100%;
  display: none; 
  height: 270px;
}

img.active4 {
  display: block;
  animation: fadeZ 0.8s;
}
@keyframes fadeZ {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cont-btn4 {
  width: 100%;
  border: 1px solid #000;
  box-shadow: 0 10px 10px rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  background-color: #3c6e71;
}

.btn-nav4 {
  font-size: 30px;
  margin: 0 15px;
  cursor: pointer;
  padding: 5px 0;
}


/* FENETRE MODALE ACCIDENTS */

/*  TOOLTIPS */



/*   */


