body {
    background-color: #e6ccb2;
    height: 3000px;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* LIENS */

.left {

    width: 2%;
    position: fixed;
    bottom: 70px;
    left: 50px;
    margin-bottom: 30px;
    z-index: 99;
}


.left .reseaux {
    display: flex;
    flex-direction: column;
    height: 130px;
    justify-content: space-between;
    font-size: 20px;

}

.left i {
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)0s;
}


.left i:hover {
    color: #3c6e71;
    transform: matrix(1,0,0,1,0,-3);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)0s;
}


.bottom-left {

    background-color: gray;
    position: fixed;
    bottom: 0;
    left: 60px;
    width: 1px;
    height: 80px;
    z-index: 999;
    
}


/*HEADER */


nav .logo i {
    font-size: 60px;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)0s;
}

nav a {
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)0s;
}

nav .logo i:hover, nav a:hover {
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)0s;
    transform: matrix(1,0,0,1,10,0);
    color: #3c6e71;
}


nav {
    
    font-family: 'Space Mono', monospace;
    position: absolute;
    padding: 20px 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav #nav-liens ul {
    display: flex;
}

nav #nav-liens ul li {
    display: flex;
    margin: 0 25px;
}

nav .menu {
    display: none;
    font-size: 35px;
    cursor: pointer;
}


@media screen and (max-width: 800px) {
   
   nav #nav-liens {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease; 
        transform: translateX(-100%); /*le menu est retracté sur la gauche */
       
        
    }

    nav #nav-liens.menu-mobile {
        transform: translateX(0%); /* lorsque l'on clique sur le hamburger, le menu se deploie sur la page */
        background-color: #e6ccb2;
    } 

    nav {
        padding: 0;
    }

    nav #nav-liens ul {
        flex-direction: column;
        align-items: center;
    }

    nav .menu {
        display: block;
        position: absolute;
        right: 35px;
        top: 20px;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)0s;
    }

    nav .menu:hover {
        color: #3c6e71;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)0s;
       
    }

    nav #nav-liens ul li {
        margin: 25px 0;
        font-size: 25px;
        z-index: 998;
    }

    nav .logo {
        position: absolute;
        top: 20px;
        left: 35px;
        z-index: 999;
    } 

    nav #nav-liens a {
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)0s;
    }

    nav #nav-liens a:hover {
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)0s;
        transform: matrix(1,0,0,1,0,-10);
        color: #3c6e71;
    }


}

main {
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main h1 {
    font-size: 60px;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

